.box-wrapper {
  overflow: hidden;
}

.box-container {
  animation: moveSlideshow 5s linear infinite;
}
.box {
  background-color: rebeccapurple;
  aspect-ratio: 1;
  height: 250px;
}

.marquee {
  white-space: nowrap;
  animation: marqueeAnimation 20s linear infinite; /* Adjust animation duration and timing as needed */
}
.marquee.paused {
  animation-play-state: paused;
}

.examples-card {
  padding: 1.5rem 1rem 1rem 1rem;
  width: 22rem;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.example-card__image {
  height: 13.5rem;
  width: 100%;
  background-color: rebeccapurple;
}
.pricing-section,
.prompt-engineering,
.generate-articles {
  padding: 0 6.5rem;
}
.purple-dark {
  background: white;
}
.transition {
  transition: 250ms ease-out;
}

.generate-articles__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.generate-articles__body section:nth-child(1) {
  width: 34vw;
}
.generate-articles__body section:nth-child(2) {
  width: 40vw;
}
.landing__chat-output {
  /* height: 600px; */
  overflow: hidden; /* Hide scrollbar by default */
  position: relative;
}

.landing__chat-output:hover {
  overflow-y: auto;
}
.landing__chat-output::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.landing__chat-output::-webkit-scrollbar-track {
  background-color: transparent; /* Track color */
}

.landing__chat-output::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 5px; /* Border radius */
}

.landing__chat-output::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}
.pricing-card {
  width: 22rem;
  height: 26rem;
}

@media screen and (min-width: 1100px) {
  .hero {
    height: 100svh;
  }
}
@media screen and (max-width: 1050px) {
  article {
    padding: 0 3rem !important; /* Set the maximum height for screens larger than 1440px */
  }
}
@media screen and (max-width: 800px) {
  article {
    padding: 0 2rem !important; /* Set the maximum height for screens larger than 1440px */
  }
  .small-screen {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 500px) {
  article {
    padding: 0 1rem !important; /* Set the maximum height for screens larger than 1440px */
  }
  .pricing-card {
    width: 100%;
  }
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
